<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Car</title>
</head>
<body>
<h3>Cars List</h3>
<div>
    <table class="table table-dark">

        <thead>
        <tr>
            <th scope="col">Model</th>
            <th scope="col">Engine</th>
            <th scope="col">Number</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="car : ${cars}">
            <td th:text="${car.getModel}"/>
            <td th:text="${car.getEngine}"/>
            <td th:text="${car.getStateNumber}"/>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>